/***************************************************** 
  Fichier: addMod.css
  Contexte: Styles de addMod.jsx
  Auteur:  Jessika Longtin et Finnegan Simpson 
 *****************************************************/
.plus,.mod{
width: 20px;
height: 20px;
}