/***************************************************** 
  Fichier: dashboard.css
  Contexte: Styles de dashboard.jsx
  Auteur: Finnegan Simpson et Jessika Longtin
 *****************************************************/
#dashboard {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#navBarContainer { 
    left: 0;
    width: 20%;
    height: 100%;
}

#pageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-y: scroll;
    background-color: #EFEFEF;

}