/***************************************************** 
    Fichier: search.css
    Contexte: Contient l'image de loupe pour la fonctionalité futur   
    Auteurs: Jessika Longtin et Finnegan Simpson
 *****************************************************/
#search {
    width: 50px;
    height: 50px;
    background-image: url("../../assets/images/search.png");
    background-size: cover;
}