.active{
    background-color: var(--primaryColor);
    }
    .editor{
        height: 60%;
       
    }
    .toolbar{
        display: flex;
        flex-direction: row;
        height: 40%;
        justify-content:flex-start;
        align-items: center;
    }
    
    [contenteditable] {
        outline: 0px solid transparent;
      }