.active{
    background-color: var(--primaryColor);
    }
    .editor{
        height: 60%;
        background-color: aliceblue;
        overflow: auto;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        resize: vertical;;
        
    }
    .titre{
        position: relative;
        background-color: aliceblue;
        overflow: auto;
        overflow-wrap: break-word;
        word-wrap: break-word; 
        
    }
    
    .toolbar{
        display: flex;
        flex-direction: row;
        height: 40%;
        justify-content:flex-start;
        align-items: center;
    }
    
    [contenteditable] {
        outline: 0px solid transparent;
      }
    