#menuBar {
    position: relative;
    left: 0;
    width: 20vw;
    height: 100vh;
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: row;
    align-self: start;
}

#menuTopSection {
    position: absolute;
    align-self: flex-start;
    width: 100%;
    height: 30%;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;
}

#uiUser {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#menuPages {
    position: absolute;
    align-self: flex-end;
    width: 100%;
    height: 70%;
    background-color: var(--thirdColor);
}

.pageSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    background-color: gray;
    text-align: center;
}

.textPageSection {
    width: 40%;
    height: 100%;
    text-align: center;
}

.iconePageSection {
    align-self: flex-start;
    width: 20%;
    height: 100%;

}

img {
    border-radius: 10px;
}